APP_NAME="CCO"
APP_ENV=local
APP_KEY=base64:l6ugOZZHvKmTw0ysmP9jcH3y9ioNmI6Rux5k/WBr5Vk=
APP_DEBUG=true
APP_URL="http://localhost:8888"

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=samu
DB_USERNAME=rocha_user
DB_PASSWORD="GR@012024"

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH="/"
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb

FILESYSTEM_DISK=local

QUEUE_CONNECTION=database

CACHE_STORE=database

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

REVERB_APP_ID="samu-local"
REVERB_APP_KEY="123456"
REVERB_APP_SECRET="local-secret"

REVERB_HOST="localhost"
REVERB_PORT=8081
REVERB_SERVER_PORT=8081
REVERB_SCHEME="http"

VITE_REVERB_APP_KEY="123456"
VITE_REVERB_HOST="localhost"
VITE_REVERB_PORT=8081
VITE_REVERB_SCHEME="http"

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="CCO"

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION="us-east-1"
AWS_BUCKET=""
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="CCO"

OPERATIONS_CALL_WEBHOOK_SECRET="68eb004c2095e60953f6f9425443a5cfdf95bee65e0e835cd76cbf0128695a5a"
OPERATIONS_CALL_INTAKE_URL_TTL_MINUTES=30
OPERATIONS_BROADCAST_CALL_INTAKE=true
